<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>

# Vector Representations
## *Data Science Unit 4 Sprint 2 Assignment 2*

In [1]:
import re
import string

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import spacy

from bs4 import BeautifulSoup

In [2]:

##### Your Code Here #####
job_listing = ('./data/job_listings.csv')
jobs = pd.read_csv(job_listing)
text = jobs['description']

In [3]:
#How to extract individual text from description column
soup = BeautifulSoup(text[0])
example = soup.get_text(" ")
example

'b" Job Requirements: \\nConceptual understanding in Machine Learning models like Nai\\xc2\\xa8ve Bayes, K-Means, SVM, Apriori, Linear/ Logistic Regression, Neural, Random Forests, Decision Trees, K-NN along with hands-on experience in at least 2 of them \\n Intermediate to expert level coding skills in Python/R. (Ability to write functions, clean and efficient data manipulation are mandatory for this role) \\n Exposure to packages like NumPy, SciPy, Pandas, Matplotlib etc in Python or GGPlot2, dplyr, tidyR in R \\n Ability to communicate Model findings to both Technical and Non-Technical stake holders \\n Hands on experience in SQL/Hive or similar programming language \\n Must show past work via GitHub, Kaggle or any other published article \\n Master\'s degree in Statistics/Mathematics/Computer Science or any other quant specific field. \\nApply Now "'

## 1) *Clean:* Job Listings from indeed.com that contain the title "Data Scientist" 

You have `job_listings.csv` in the data folder for this module. The text data in the description column is still messy - full of html tags. Use the [BeautifulSoup](https://www.crummy.com/software/BeautifulSoup/bs4/doc/) library to clean up this column. You will need to read through the documentation to accomplish this task.

In [4]:
from bs4 import BeautifulSoup
import requests

"""
How to extract individual text from description column
soup = BeautifulSoup(text[0])
print(soup.prettify())
soup.get_text()
"""

job_description = []

for doc in text:
    soup = BeautifulSoup(doc)
    soup_text = soup.get_text(" ")
    text = soup_text.replace("\\n", '')
    text2 = text.replace("/", " ")
    text3 = text2.replace('\\xe2\\x80\\x99', "'")
    text4 = text3.replace('\xe2\x80\x99', "'")
    text5 = text4.replace(' \xe2\x80\xa6', '')
    text6 = text5.replace('b"', '')
    text7 = text6.replace(' \xe2\x80\x93', '')
    text8 = text7.replace('nfosys\xe2\x80\x93', '')
    job_description.append(text7)

print(*job_description[:3], sep= "\n\n")

jobs['text'] = job_description
#raise Exception("\nThis task is not complete. \nReplace this line with your code for the task.")

jobs.head()

 Job Requirements: Conceptual understanding in Machine Learning models like Nai\xc2\xa8ve Bayes, K-Means, SVM, Apriori, Linear  Logistic Regression, Neural, Random Forests, Decision Trees, K-NN along with hands-on experience in at least 2 of them  Intermediate to expert level coding skills in Python R. (Ability to write functions, clean and efficient data manipulation are mandatory for this role)  Exposure to packages like NumPy, SciPy, Pandas, Matplotlib etc in Python or GGPlot2, dplyr, tidyR in R  Ability to communicate Model findings to both Technical and Non-Technical stake holders  Hands on experience in SQL Hive or similar programming language  Must show past work via GitHub, Kaggle or any other published article  Master's degree in Statistics Mathematics Computer Science or any other quant specific field. Apply Now "

b' Job Description   As a Data Scientist 1, you will help us build machine learning models, data pipelines, and micro-services to help our clients navigate their healthcare journey. You will do so by empowering and improving the next generation of Accolade Applications and user experiences. A day in the life\xe2\x80\xa6 Work with a small agile team to design and develop mobile applications in an iterative fashion. Work with a tight-knit group of development team members in Seattle. Contribute to best practices and help guide the future of our applications. Operates effectively as a collaborative member of the development team. Operates effectively as an individual for quick turnaround of enhancements and fixes. Responsible for meeting expectations and deliverables on time with high quality. Drive and implement new features within our mobile applications. Perform thorough manual testing and writing test cases that cover all areas. Identify new development tools approaches that will increase code quality, efficiency, and best practices. Develop and champion the the development processes, coding style guidelines, and architectural designs necessary to innovate and maintain great product quality. Effectively turns design documents and graphics into performant, usable UI. Demonstrates creative, technical, and analytical skills. Demonstrates ability to communicate effectively in both technical and business environments   Qualifications   What we are looking for\xe2\x80\xa6 Master's Degree in Computer Science, Math, or related field. Computer Science fundamentals, as illustrated through algorithm design, problem solving, and complexity analysis. Must have 1+ year real-world experience developing and deploying micro-services or data pipelines Must have a fundamental understanding of key machine learning concepts, such as accuracy measures, cross-validation, and open source machine learning libraries Fluent in Python and SQL Proficient with writing unit functional tests and familiar with automation frameworks Experience with cloud infrastructure, such as AWS or Azure, is a plus. Experience with distributed data pipelines, such as a Spark, is a plus. Strong written and oral communication skills. Desire and willingness to work in an Agile, collaborative, innovative, flexible, and team-oriented environment Hands-on, detail-oriented, methodical & inquisitive A motivated self-starter with a solid level of experience that quickly grasps complex challenges A skillful communicator with experience working with technical management teams  A service oriented person who thinks "Customer First" Fast fail entrepreneurial spirit Thrives in a fast-paced environment where continuous improvement is the norm and the bar for quality is extremely high Excited by the challenges of working in a product team undergoing rapid, international growth Additional Information   What is important to us Creating an enduring company that is hyper-focused on our culture and making a meaningful impact in the lives of our employees, members and customers. The secret to our success is: We find joy and purpose in serving others Making a difference in our members' and customers' lives is what we do. Even when it's hard, we do the right thing for the right reasons. We are strong individually and together, we're powerful Trusting in our colleagues and embracing their different backgrounds and experiences enable us to solve tough problems in creative ways, having fun along the way. We roll up our sleeves and get stuff done Results motivate us. And we aren\'t afraid of the hard work or tough decisions needed to get us there. We're boldly and relentlessly reinventing healthcare We\'re curious and act big - not afraid to knock down barriers or take calculated risks to change the world, one person at a time. All your information will be kept confidential according to EEO guidelines. '

b' As a Data Scientist you will be working on consulting side of our business. You will be responsible for analyzing large, complex datasets and identify meaningful patterns that lead to actionable recommendations. You will be performing thorough testing and validation of models, and support various aspects of the business with data analytics. Ability to do statistical modeling, build predictive models and leverage machine learning algorithms. This position will combine the typical Data Scientist math and analytical skills, with research, advanced business, communication, and presentation skills. Primary job location is in Sacramento, but work-from-home option is available.  Qualifications Bachelors, MS or PhD in a relevant field (Computer Science, Engineering, Statistics, Physics, Applied Math) Experience in R and or Python is preferred '

,Unnamed: 0,description,title,text
0,0,"b""<div><div>Job Requirements:</div><ul><li><p>...",Data scientist,Job Requirements: Conceptual understanding in...
1,1,b'<div>Job Description<br/>\n<br/>\n<p>As a Da...,Data Scientist I,"b' Job Description As a Data Scientist 1, yo..."
2,2,b'<div><p>As a Data Scientist you will be work...,Data Scientist - Entry Level,b' As a Data Scientist you will be working on ...
3,3,"b'<div class=""jobsearch-JobMetadataHeader icl-...",Data Scientist,"b' $4,969 - $6,756 a month Contract Under the ..."
4,4,b'<ul><li>Location: USA \xe2\x80\x93 multiple ...,Data Scientist,b' Location: USA \xe2\x80\x93 multiple locatio...

In [5]:
jobs.columns

Index(['Unnamed: 0', 'description', 'title', 'text'], dtype='object')

In [6]:
# dropping "unnamed column" and description column. 

jobs = jobs.drop(columns=["Unnamed: 0", 'description'])
jobs.head()

,title,text
0,Data scientist,Job Requirements: Conceptual understanding in...
1,Data Scientist I,"b' Job Description As a Data Scientist 1, yo..."
2,Data Scientist - Entry Level,b' As a Data Scientist you will be working on ...
3,Data Scientist,"b' $4,969 - $6,756 a month Contract Under the ..."
4,Data Scientist,b' Location: USA \xe2\x80\x93 multiple locatio...

In [7]:
# defining stop words
nlp = spacy.load("en_core_web_lg")

In [8]:
stop_words = nlp.Defaults.stop_words.union(['\\n', 'b', 
                                            'etc', ' ', 'job',
                                           'requirement', 
                                            'requirements', 
                                            'for\\xe2\\x80\\xa6',
                                           'life\\xe2\\x80\\xa6',
                                           "we\\'re", "aren\\'t",
                                           '', 'b"'])

## 2) Use Spacy to tokenize the listings

In [ ]:
stop_words

In [10]:
##### Your Code Here #####
sample = jobs['text'][1]

print([token.lemma_ for token in nlp(sample) if 
       (token.is_punct == False) and 
       (token.text.lower() not in stop_words)])
#raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

['description', '  ', 'Data', 'scientist', '1', 'help', 'build', 'machine', 'learning', 'model', 'data', 'pipeline', 'micro', 'service', 'help', 'client', 'navigate', 'healthcare', 'journey', 'empower', 'improve', 'generation', 'Accolade', 'Applications', 'user', 'experience', 'day', 'work', 'small', 'agile', 'team', 'design', 'develop', 'mobile', 'application', 'iterative', 'fashion', 'work', 'tight', 'knit', 'group', 'development', 'team', 'member', 'Seattle', 'contribute', 'good', 'practice', 'help', 'guide', 'future', 'application', 'operate', 'effectively', 'collaborative', 'member', 'development', 'team', 'operate', 'effectively', 'individual', 'quick', 'turnaround', 'enhancement', 'fix', 'responsible', 'meet', 'expectation', 'deliverable', 'time', 'high', 'quality', 'drive', 'implement', 'new', 'feature', 'mobile', 'application', 'perform', 'thorough', 'manual', 'testing', 'writing', 'test', 'case', 'cover', 'area', 'identify', 'new', 'development', 'tool', 'approach', 'increase', 'code', 'quality', 'efficiency', 'good', 'practice', 'develop', 'champion', 'development', 'process', 'code', 'style', 'guideline', 'architectural', 'design', 'necessary', 'innovate', 'maintain', 'great', 'product', 'quality', 'effectively', 'turn', 'design', 'document', 'graphic', 'performant', 'usable', 'UI', 'demonstrate', 'creative', 'technical', 'analytical', 'skill', 'demonstrate', 'ability', 'communicate', 'effectively', 'technical', 'business', 'environment', '  ', 'qualification', '  ', 'look', 'Master', 'Degree', 'Computer', 'Science', 'Math', 'related', 'field', 'computer', 'Science', 'fundamental', 'illustrate', 'algorithm', 'design', 'problem', 'solve', 'complexity', 'analysis', '1', '+', 'year', 'real', 'world', 'experience', 'develop', 'deploy', 'micro', 'service', 'datum', 'pipeline', 'fundamental', 'understanding', 'key', 'machine', 'learning', 'concept', 'accuracy', 'measure', 'cross', 'validation', 'open', 'source', 'machine', 'learn', 'library', 'Fluent', 'Python', 'SQL', 'Proficient', 'write', 'unit', 'functional', 'test', 'familiar', 'automation', 'framework', 'experience', 'cloud', 'infrastructure', 'AWS', 'Azure', 'plus', 'experience', 'distribute', 'data', 'pipeline', 'spark', 'plus', 'strong', 'write', 'oral', 'communication', 'skill', 'desire', 'willingness', 'work', 'agile', 'collaborative', 'innovative', 'flexible', 'team', 'orient', 'environment', 'hand', 'detail', 'orient', 'methodical', 'inquisitive', 'motivated', 'self', 'starter', 'solid', 'level', 'experience', 'quickly', 'grasp', 'complex', 'challenge', 'skillful', 'communicator', 'experience', 'work', 'technical', 'management', 'team', 'service', 'orient', 'person', 'think', 'customer', 'fast', 'fail', 'entrepreneurial', 'spirit', 'thrive', 'fast', 'pace', 'environment', 'continuous', 'improvement', 'norm', 'bar', 'quality', 'extremely', 'high', 'excite', 'challenge', 'work', 'product', 'team', 'undergo', 'rapid', 'international', 'growth', 'additional', 'information', '  ', 'important', 'create', 'endure', 'company', 'hyper', 'focused', 'culture', 'make', 'meaningful', 'impact', 'life', 'employee', 'member', 'customer', 'secret', 'success', 'find', 'joy', 'purpose', 'serve', 'make', 'difference', 'member', 'customer', 'life', 'hard', 'right', 'thing', 'right', 'reason', 'strong', 'individually', 'powerful', 'trusting', 'colleague', 'embrace', 'different', 'background', 'experience', 'enable', 'solve', 'tough', 'problem', 'creative', 'way', 'have', 'fun', 'way', 'roll', 'sleeve', 'stuff', 'result', 'motivate', 'afraid', 'hard', 'work', 'tough', 'decision', 'need', 'boldly', 'relentlessly', 'reinvent', 'healthcare', 'curious', 'act', 'big', 'afraid', 'knock', 'barrier', 'calculate', 'risk', 'change', 'world', 'person', 'time', 'information', 'keep', 'confidential', 'according', 'EEO', 'guideline']

In [11]:
# do the thing above for all the rows
job_token = []

for doc in jobs['text']:
    text = [token.lemma_ for token in nlp(doc) if 
            (token.is_punct == False) and 
            (token.text.lower() not in stop_words)]
    job_token.append(text)
    
jobs['token'] = job_token

In [12]:
jobs.head(20)

,title,text,token
0,Data scientist,Job Requirements: Conceptual understanding in...,"[conceptual, understanding, Machine, Learning,..."
1,Data Scientist I,"b' Job Description As a Data Scientist 1, yo...","[description, , Data, scientist, 1, help, bu..."
2,Data Scientist - Entry Level,b' As a Data Scientist you will be working on ...,"[Data, scientist, work, consult, business, res..."
3,Data Scientist,"b' $4,969 - $6,756 a month Contract Under the ...","[$, 4,969, $, 6,756, month, contract, general,..."
4,Data Scientist,b' Location: USA \xe2\x80\x93 multiple locatio...,"[Location, USA, \xe2\x80\x93, multiple, locati..."
5,Data Scientist,b' Create various Business Intelligence Analyt...,"[create, Business, Intelligence, Analytical, r..."
6,Associate Data Scientist – Premium Analytics,b' As Spotify Premium swells to over 96M subsc...,"[Spotify, Premium, swell, 96, M, subscriber, g..."
7,Data Scientist,"Everytown for Gun Safety, the nation's largest...","[Everytown, Gun, Safety, nation, large, gun, v..."
8,Sr. Data Scientist,MS in a quantitative discipline such as Stati...,"[MS, quantitative, discipline, Statistics, Mat..."
9,"Data Scientist, Lifecyle",b' Slack is hiring experienced data scientists...,"[Slack, hire, experienced, datum, scientist, j..."
10,"Data Scientist, Neuroimaging",b' Who We Are BlackThorn Therapeutics is a com...,"[BlackThorn, Therapeutics, computational, scie..."
11,Data Scientist II,b' Part-time About The Opportunity Here at Gru...,"[time, Opportunity, Grubhub, dedicate, give, d..."
12,Data Scientist,nfosys\xe2\x80\x93 Data & Analytics \xe2\x80\x...,"[nfosys\xe2\x80\x93, Data, Analytics, \xe2\x80..."
13,Associate Data Scientist – Premium Analytics,b' As Spotify Premium swells to over 96M subsc...,"[Spotify, Premium, swell, 96, M, subscriber, g..."
14,Data Scientist,b' Experience with guiding R&D strategy for yo...,"[experience, guide, r&d, strategy, organizatio..."
15,Data Scientist,b' The Atlantic is seeking a Data Scientist to...,"[Atlantic, seek, Data, scientist, help, lead, ..."
16,Data Scientist - Risk,"b' THE CHALLENGE Eventbrite is big, bustling m...","[challenge, Eventbrite, big, bustling, marketp..."
17,Data Scientist,b' Contract We are looking to hire for a Data ...,"[contract, look, hire, Data, scientist, Remote..."
18,Data Scientist,"Everytown for Gun Safety, the nation's largest...","[Everytown, Gun, Safety, nation, large, gun, v..."
19,Data Analyst/Jr. Data Scientist,"b' $70,000 - $100,000 a year Title : Data Anal...","[$, 70,000, $, 100,000, year, title, Data, Ana..."

## 3) Use Scikit-Learn's CountVectorizer to get word counts for each listing.

In [15]:
##### Your Code Here #####

from sklearn.feature_extraction.text import CountVectorizer

sample = jobs['text']

# the transformer
vect = CountVectorizer()

# build vocab
vect.fit(sample)

# transform text

dtm = vect.transform(sample)
print(dtm.shape)
#raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

(426, 8523)

In [ ]:
# print(vect.get_feature_names())

In [ ]:
#print(dtm)

## 4) Visualize the most common word counts

In [ ]:
##### Your Code Here #####
# word counts for each document



# raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

## 5) Use Scikit-Learn's tfidfVectorizer to get a TF-IDF feature matrix

In [ ]:
##### Your Code Here #####
raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

## 6) Create a NearestNeighbor Model. Write the description of your ideal datascience job and query your job listings.

In [ ]:
##### Your Code Here #####
raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

## Stretch Goals

 - Try different visualizations for words and frequencies - what story do you want to tell with the data?
 - Scrape Job Listings for the job title "Data Analyst". How do these differ from Data Scientist Job Listings
 - Try and identify requirements for experience specific technologies that are asked for in the job listings. How are those distributed among the job listings?
 - Use a clustering algorithm to cluster documents by their most important terms. Do the clusters reveal any common themes?
  - **Hint:** K-means might not be the best algorithm for this. Do a little bit of research to see what might be good for this. Also, remember that algorithms that depend on Euclidean distance break down with high dimensional data.
 - Create a labeled dataset - which jobs will you apply for? Train a model to select the jobs you are most likely to apply for. :)